body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

/*Header CSS*/
.black-header {
    background-color: black;
    height: 60px;
  }
  
  .header-pages {
    display: flex;
    justify-content: center;
    padding-top: 14px;
  }
  
  .header-pages a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .header-pages a.active {
    font-weight: bold;
  }

/*SlideShow CSS*/
.slideshow-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

