body {
  margin: 0;
  padding: 0;
}


#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


#startButton, 
#returnhomeButton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Audiowide", sans-serif;
}

#startButton:hover,
#returnhomeButton:hover
{
  background-color: #004f03;
  color: rgb(152, 255, 185);
}

#returnhomeButton a{
color: white;
text-decoration: none;
}

#button-container {
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
left: 100px;
top: 48%;
transform: translateY(-50%);
color: white;
font-family: "Audiowide", sans-serif;
font-size: 25px;
}

#score{
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
right: 6%;
top: 45%;
transform: translateY(-50%);
color: white;
font-family: "Audiowide", sans-serif;
font-size: 50px;
}

#gameOverMessage {
position: absolute;
left: 45px;
top: 200px;
transform: translateY(-50%);
color: black;
font-family: "Audiowide", sans-serif;
font-size: 40px;
background-color: red;
}